<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="FilePath" value="Data.txt"/>
		<add key="HasHeader" value="true"/>
		<add key="HeaderColumns" value="timespan,dataset,value"/>
		<add key="CsvSplitByCharacter" value=","/>
		<add key="OutputFilePathTimespanDatasetSort" value="TimespanDatasetSort.txt"/>
		<add key="OutputFilePathDatasetTimespanSort" value="DatasetTimespanSort.txt"/>
	</appSettings>
</configuration>